.header-icon {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
  max-width: 100%;
}
.group-icon,
.vector-icon,
.vector-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 63.96%;
  width: 95.47%;
  top: 18.24%;
  right: 2.37%;
  bottom: 17.79%;
  left: 2.16%;
  mix-blend-mode: multiply;
}
.group-icon,
.vector-icon1 {
  height: 52.25%;
  width: 83.19%;
  top: 23.87%;
  right: 8.62%;
  bottom: 23.87%;
  left: 8.19%;
  z-index: 1;
}
.vector-icon1 {
  height: 7.43%;
  width: 6.9%;
  top: 46.4%;
  right: 46.77%;
  bottom: 46.17%;
  left: 46.34%;
  z-index: 2;
}
.group-icon1,
.group-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 46.4px;
  height: 17.3px;
  z-index: 2;
}
.group-icon2 {
  top: 27.1px;
}
.group,
.retina-vision-ai {
  position: relative;
  z-index: 1;
}
.group {
  height: 44.4px;
  width: 46.4px;
}
.retina-vision-ai {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  letter-spacing: 0.03em;
  line-height: 30px;
  font-weight: 400;
  font-family: inherit;
  white-space: nowrap;
}
.retina-vision-ai-beta-wrapper {
  height: 35.7px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs-7);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-kadwa);
}
.frame-child,
.header-parent {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
}
.header-parent {
  align-self: stretch;
  background: linear-gradient(0deg, #212225, #374163);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-sm-3) var(--padding-xs) var(--padding-smi-3);
  box-sizing: border-box;
  gap: var(--gap-base-3);
  top: 0;
  z-index: 99;
  position: sticky;
}
.frame-child {
  width: 368px;
  height: 280px;
  position: relative;
  background-color: var(--color-white);
  display: none;
}
.cek-katarak,
.frame-icon {
  position: relative;
  z-index: 1;
}
.frame-icon {
  height: 39px;
  width: 39px;
  overflow: hidden;
  flex-shrink: 0;
}
.cek-katarak {
  margin: 0;
  align-self: stretch;
  font-size: inherit;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.cek-katarak-wrapper,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cek-katarak-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
}
.frame-group {
  width: 290px;
  flex-direction: row;
  gap: var(--gap-6xs);
}
.frame-item {
  width: 310px;
  height: 135px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.upload-your-file {
  position: relative;
  letter-spacing: 0.03em;
  z-index: 1;
}
.upload-your-file-here-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 55px;
}
.button-browse-child {
  height: 43px;
  width: 270px;
  position: relative;
  border-radius: var(--br-6xs);
  background-color: var(--color-darkslateblue);
  display: none;
}
.browse {
  width: 177px;
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.22em;
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.button-browse {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) 36px 14px;
  background-color: var(--color-darkslateblue);
  align-self: stretch;
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.button-submit-child {
  height: 22px;
  width: 93px;
  position: relative;
  border-radius: var(--br-24xl);
  background-color: var(--color-mediumslateblue);
  display: none;
}
.submit {
  position: relative;
  display: inline-block;
  min-width: 37px;
  z-index: 1;
}
.button-submit,
.result-display {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-submit {
  border-radius: var(--br-24xl);
  background-color: var(--color-mediumslateblue);
  padding: 4px 28px 5px;
  z-index: 1;
}
.result-display {
  padding: 0 78px;
  font-size: 11px;
  color: var(--color-white);
}
.rectangle-group {
  flex: 1;
  background-color: var(--color-gainsboro);
  flex-direction: column;
  padding: var(--padding-xs) 20px 11px;
  gap: 15.5px;
  z-index: 1;
}
.frame-parent,
.frame-wrapper,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 22px;
  text-align: center;
  font-size: var(--font-size-smi);
  font-family: var(--font-inter);
}
.frame-parent {
  width: 332px;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
}
.result {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.rectangle-parent,
.result-wrapper {
  display: flex;
  justify-content: flex-start;
}
.result-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 25px;
  font-size: var(--font-size-smi);
  font-family: var(--font-inter);
}
.rectangle-parent {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xs) 51px;
  box-sizing: border-box;
  max-width: 100%;
}
.iphone-14-15-pro-2,
.iphone-14-15-pro-2-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.iphone-14-15-pro-2-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-xs);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-kadwa);
}
.iphone-14-15-pro-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-lightgray);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 486px;
  gap: var(--gap-base);
  line-height: normal;
  letter-spacing: normal;
}
